.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nn{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    column-gap: 20px;
    list-style: none;
}