*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container {
    height:500px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

body {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   background-color: #0B2434;
}

section{
    display: grid;
    grid-template: auto auto/ repeat(5, 1fr);
    gap: 20px;
    

}

.Bcontainer {
     position: absolute;
    top: 80%;
    left: 50%;
}

.rollButton {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   height: 50px;
   min-width: 60px;
   color: white;
   background-color: #5035FF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;

}

.header{
    position: absolute;
    top: 20px;
    font-family: sans-serif;
    font-weight: 400;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
   
}
h1{
   margin-bottom: 20px;
    
}